* {
	margin:0px;
	padding:0px;
	list-style:none;
}
html, body {
	height:100%;
}
.content {
	background-color:#fff;
	color:#000;
	font:normal 12px/18px arial,sans-serif;
	height:100%;
	width:100%;
	overflow:auto;
	position:relative;
}

.droid_contact {background: url(../img/droid_contact.png) no-repeat center;}