<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../../public/css/jquery-ui-smoothness/jquery-ui-1.10.4.custom.min.css" />
		<link rel="stylesheet" href="../../public/css/window-content.css" />
		<script type="text/javascript" src="../../public/javascript/jquery-ui/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="../../public/javascript/jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript" src="../../public/javascript/knockout/knockout-3.1.0.js"></script>
		<!--
		<link rel="stylesheet" href="public/css/jquery-ui-smoothness/jquery-ui-1.10.4.custom.min.css" />
		<link rel="stylesheet" href="public/css/window-content.css" />
		<script type="text/javascript" src="public/javascript/jquery-ui/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="public/javascript/jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript" src="public/javascript/knockout/knockout-3.1.0.js"></script>
		-->
	</head>
	<body>
		<div id="contactsView">
			<div class="toolbar">
				<form class="search-wrapper cf">
					<input type="text" required="required">
					<button type="submit" class="btn">Recherche</button>
				</form>
				<button class="btn del">Supprimer</button>
				<button class="btn">Actualiser</button>
				<button class="btn">Nouveau contact</button>
			</div>
			<div class="sidebar">
			<!--
				<ul id="shortcut-contact" data-bind="foreach: shortcuts">
					<li><a data-bind="attr: { href: '#'+$data }, text: $data"></a></li>
				</ul>
			-->
				<ul id="contactsList" data-bind="foreach: contacts">
					<li>
						<p class="contact-item" data-bind="click: $parent.select, css: { selected: $data == $root.selectedContact() }"><img data-bind="attr: { src: contactImg }"/><span data-bind="text: name"></span></p>
					</li>
				</ul>
			</div>
			<div class="main" data-bind="with: selectedContact">
				<div>
					<img data-bind="attr: { src: contactImg }"/>
					<p>
						<span data-bind="text: name"></span>
					</p>
				</div>
				<hr />
				<div>
					<!-- ko foreach: { data: phones, as: 'phone' }-->
						<p data-bind="text: phone"></p>
					<!-- /ko -->
				</div>
				<hr />
				<div>
					<!-- ko foreach: { data: emails, as: 'email' }-->
						<p data-bind="text: email"></p>
					<!-- /ko -->
				</div>
			</div>
		</div>
		<script type="text/javascript" src="public/javascript/app-window/contacts.js"></script>
	</body>
</html>